@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;

@inject UserManager<User> userManager;
@inject SignInManager<User> signInManager;

@{
    Layout = null;

    var user = await userManager.GetUserAsync(User);
    var twoFactorEnabled = await userManager.GetTwoFactorEnabledAsync(user);
    var emailConfirmed = await userManager.IsEmailConfirmedAsync(user);
    var recoveryCodesLeft = await userManager.CountRecoveryCodesAsync(user);
    var deviceRemembered = await signInManager.IsTwoFactorClientRememberedAsync(user);

    var showConfirmedAlert = Context.Request.Query["state"] == "confirm-sent";
    var showConfirmErrorAlert = Context.Request.Query["state"] == "confirm-error";
    var showForgetDeviceAlert = Context.Request.Query["state"] == "forget-device";
    var showNameUpdatedAlert = Context.Request.Query["state"] == "name-updated";
    var showPasswordChangeAlert = Context.Request.Query["state"] == "password-change";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
    <meta name="author" content="AdminKit">
    <meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />
    <title>Profile | AdminKit Demo</title>
    <link href="/css/app.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fef6767602.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <span class="align-middle">CrewLog</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">Portfolio</li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/">
                            <i class="align-middle" data-feather="home"></i> <span class="align-middle">Home</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/shifts">
                            <i class="align-middle" data-feather="calendar"></i> <span class="align-middle">Shifts</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="~/shifts/new">
                            <i class="align-middle" data-feather="plus"></i> <span class="align-middle">Add Shift</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <button class="sidebar-toggle js-sidebar-toggle border-0 bg-transparent">
                    <i class="hamburger align-self-center"></i>
                </button>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                                <i data-feather="user" class="avatar img-fluid rounded me-1"></i> <span class="text-dark">@User.FindFirstValue("real_name")</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" asp-page="./Index"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
                                <a class="dropdown-item" href="~/settings"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><i class="align-middle me-1" data-feather="log-out"></i> Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content">
                <div class="container-fluid p-0">

                    <div class="mb-3">
                        <h1 class="h3 d-inline align-middle">Profile</h1>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-xl-3">
                            <div class="card mb-3">
                                <div class="card-header">
                                    <h5 class="card-title mb-0">Profile Details</h5>
                                </div>
                                <div class="card-body text-center">
                                    <h5 class="card-title mb-0">@User.FindFirstValue("real_name")</h5>
                                    <div class="text-muted mb-0">@User.FindFirstValue("email")</div>

                                    @if (emailConfirmed)
                                    {
                                        <div class="badge bg-success my-2">Email Confirmed</div>
                                    }
                                    else
                                    {
                                        <div class="badge bg-danger my-2">Not Confirmed</div>
                                        <form method="post">
                                            <input name="NewEmail" type="hidden" value="@User.FindFirstValue("email")" />
                                            <button type="submit" asp-page="./Email" asp-page-handler="SendVerificationEmail" class="btn btn-primary btn-sm mb-2">Send Confirmation Email</button>
                                        </form>
                                    }

                                    <div>
                                        <a class="btn btn-primary btn-sm mb-2" asp-page="./ChangeName">Update Name</a>
                                        <a class="btn btn-primary btn-sm mb-2" asp-page="./Email">Update Email</a>
                                    </div>
                                    <div>
                                        <a class="btn btn-primary btn-sm mb-2" asp-page="./ChangePassword">Change Password</a>
                                    </div>
                                </div>
                                <hr class="my-0" />
                                <div class="card-body">
                                    <h5 class="h6 card-title">Security</h5>
                                    <div class="card-text">Two Factor Authentication</div>
                                    @if (!twoFactorEnabled)
                                    {
                                        <div class="text-center">
                                            <a class="btn btn-primary btn-sm mb-2" asp-page="./EnableAuthenticator">Enable</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="text-center">
                                            <div href="#" class="badge bg-success my-1">Enabled</div>
                                        </div>
                                        <div class="text-center">
                                            <a class="btn btn-primary btn-sm mb-2" asp-page="./Disable2fa">Disable</a>
                                        </div>
                                        <div class="card-text">Recovery Codes</div>
                                        if (recoveryCodesLeft == 0)
                                        {
                                            <div class="text-danger mb-2">
                                                No recovery codes left.
                                            </div>
                                        }
                                        else if (recoveryCodesLeft == 1)
                                        {
                                            <div class="text-danger mb-2">
                                                1 recovery code left.
                                            </div>
                                        }
                                        else if (recoveryCodesLeft <= 3)
                                        {
                                            <div class="text-warning mb-2">
                                                @recoveryCodesLeft recovery codes left.
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="mb-2">
                                                @recoveryCodesLeft recovery codes left.
                                            </div>
                                        }
                                        <div class="text-center">
                                            <a class="btn btn-primary btn-sm mb-2" asp-page="./GenerateRecoveryCodes">Get New Codes</a>
                                        </div>

                                        @if (deviceRemembered)
                                        {
                                            <div class="text-center">
                                                <form method="post" style="display: inline-block">
                                                    <button asp-page="./EnableAuthenticator" asp-page-handler="ForgetClient" type="submit" class="btn btn-secondary btn-sm">Forget This Browser</button>
                                                </form>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-xl-9">
                            @if (showConfirmedAlert)
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <i data-feather="check"></i> Email confirmation sent.
                                </div>
                            }
                            @if (showConfirmErrorAlert)
                            {
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <i data-feather="x"></i> Couldn't send the confirmation.  Try again later.
                                </div>
                            }
                            @if (showForgetDeviceAlert)
                            {
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <i data-feather="check"></i> This device has been forgotten.  You'll need your authenticator next time you log in.
                                </div>
                            }
                            @if (showNameUpdatedAlert)
                            {
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <i data-feather="check"></i> Your name has been updated.
                                </div>
                            }
                            @if (showPasswordChangeAlert)
                            {
                                <div class="alert alert-info alert-dismissible fade show" role="alert">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    <i data-feather="check"></i> Your password has been updated.
                                </div>
                            }
                            @RenderBody()
                        </div>
                    </div>

                </div>
            </main>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://unpkg.com/jquery%403.5.1"></script>
    <script src="https://unpkg.com/bootstrap%40%5E5.1.3"></script>
    <script src="https://unpkg.com/feather-icons%404.28.0"></script>
    <script src="https://unpkg.com/simplebar%40%5E5.3.6"></script>
    <script src="/js/site.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>

